{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="page-table-container" id="products-container">
        {% include "components/table.html" with id="products-table" fields=fields data=data %}
        <div id="context-menu"
            class="dropdown-menu"
            data-is-admin="{% if request.user.user_type and request.user.user_type.name == 'Администратор' %}true{% else %}false{% endif %}">
			<a class="dropdown-item context-action"
               id="add-button"
               data-action="add">Добавить</a>
            <a class="dropdown-item context-action"
                id="edit-button"
                data-action="edit">Изменить</a>
            <a class="dropdown-item context-action"
                id="delete-button"
                data-action="delete">Удалить</a>
			<div class="dropdown-divider"></div>
            <a class="dropdown-item context-action"
               id="hide-button"
               data-action="hide">Скрыть</a>
            <a class="dropdown-item context-action"
               id="show-all-button"
               data-action="show-all">Показать все</a>
        </div>
    </div>
{% endblock content %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'commerce/js/commerce.js' %}" type="module"></script>
{% endblock extra_scripts %}
