{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="page-table-container" id="debtors-container">
        <div id="context-menu" class="dropdown-menu">
            <a class="dropdown-item context-action"
               id="add-button"
               data-action="add">Добавить</a>
            <a class="dropdown-item context-action"
                id="edit-button"
                data-action="edit">Изменить</a>
            <a class="dropdown-item context-action"
                id="delete-button"
                data-action="delete">Удалить</a>
            <a class="dropdown-item context-action"
                id="add-viewer-button"
                data-action="add-viewer">Дать доступ к заказу</a>
            <a class="dropdown-item context-action"
               id="view_order_files-button"
               data-action="view_order_files">Файлы заказа</a>
            <a class="dropdown-item context-action"
                id="update_status-button"
                data-action="update_status"
                style="display: none;">Сменить статус сделки</a>
            <a class="dropdown-item context-action"
                id="update_department_work_status-button"
                data-action="update_department_work_status"
                style="display: none;">Сменить статус</a>
            <a class="dropdown-item context-action"
                id="archive_order-button"
                data-action="archive_order"
                style="display: none;">В архив</a>
            <a class="dropdown-item context-action"
                id="go-to-client-button"
                data-action="go_to_client"
                style="display: none;">Перейти к клиенту</a>
        </div>
        <div class="debtors-data">
            <div class="debtors-search-input-wrapper clients" id="works-search-wrapper">
                <input type="text"
                       class="debtors-search-input"
                       id="works-client-search"
                       placeholder="Поиск клиента...">
            </div>
            <ul class="debtors-office-list" id="works-clients-list"></ul>
            <div class="pagination-controls" id="works-pagination">
                <button class="pagination-button"
                        id="works-first-page"
                        title="Первая страница"
                        disabled>
                    <img src="{% static 'images/angle-double-left.svg' %}" alt="First" class="icon">
                </button>
                <button class="pagination-button"
                        id="works-prev-page"
                        title="Предыдущая страница"
                        disabled>
                    <img src="{% static 'images/angle-left.svg' %}" alt="Previous" class="icon">
                </button>
                <div class="pagination-line"></div>
                <div class="pagination-input-container">
                    <span>Страница</span>
                    <input type="text"
                           id="works-current-page"
                           class="pagination-input"
                           value="1">
                    <span>из</span>
                    <span id="works-total-pages">1</span>
                </div>
                <div class="pagination-line"></div>
                <button class="pagination-button"
                        id="works-next-page"
                        title="Следующая страница"
                        disabled>
                    <img src="{% static 'images/angle-right.svg' %}" alt="Next" class="icon">
                </button>
                <button class="pagination-button"
                        id="works-last-page"
                        title="Последняя страница"
                        disabled>
                    <img src="{% static 'images/angle-double-right.svg' %}" alt="Last" class="icon">
                </button>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'commerce/js/commerce.js' %}" type="module"></script>
    <script src="{% static 'js/autonumeric.js' %}" defer></script>
{% endblock extra_scripts %}
