<div class="order-documents">
    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-form__group modal-form__group--horizontal">
            {% include "components/select.html" with id="file_type" placeholder="Выберите тип файла" %}
            <button id="upload-btn" type="button" class="button">Загрузить файл</button>
        </div>

        <input type="file" id="upload-file-input" name="file" style="display:none" />

        <div id="documents-container">
            {{ docs_html|default:"" }}
        </div>
    </form>

    <div id="documents-container">
    </div>
</div>