{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="page-table-container" id="all_transaction-container">
        {% include "components/table.html" with id="all_transaction-table" fields=fields data=data is_grouped=is_grouped %}
        <div class="pagination-controls">
            <button class="pagination-button"
                    id="first-page"
                    title="Первая страница"
                    disabled>
                <img src="{% static 'images/angle-double-left.svg' %}" alt="First" class="icon">
            </button>
            <button class="pagination-button"
                    id="prev-page"
                    title="Предыдущая страница"
                    disabled>
                <img src="{% static 'images/angle-left.svg' %}" alt="Previous" class="icon">
            </button>
            <div class="pagination-line"></div>
            <div class="pagination-input-container">
                <span>Страница</span>
                <input type="text"
                    id="current-page"
                    class="pagination-input"
                    value="{{ context.current_page|default:0 }}"
                    disabled>
                <span>из</span>
                <span id="total-pages">{{ context.total_pages|default:0 }}</span>
            </div>
            <div class="pagination-line"></div>
            <button class="pagination-button"
                    id="next-page"
                    title="Следующая страница"
                    disabled>
                <img src="{% static 'images/angle-right.svg' %}" alt="Next" class="icon">
            </button>
            <button class="pagination-button"
                    id="last-page"
                    title="Последняя страница"
                    disabled>
                <img src="{% static 'images/angle-double-right.svg' %}" alt="Last" class="icon">
            </button>
            <div class="pagination-line"></div>
            <button class="pagination-button" id="refresh" title="Обновить">
                <img src="{% static 'images/arrows-rotate.svg' %}" alt="Refresh" class="icon">
            </button>
        </div>
    </div>
{% endblock content %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'ledger/js/ledger.js' %}" type="module"></script>
{% endblock extra_scripts %}
