{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="page-table-container" id="debtors-container">
    <div id="context-menu" class="dropdown-menu">
        <a class="dropdown-item context-action" id="add-button" data-action="add">Добавить</a>
        <a class="dropdown-item context-action" id="edit-button" data-action="edit">Редактировать</a>
        {% if request.user.is_authenticated and request.user.user_type.name == "Администратор" %}
        <a class="dropdown-item context-action" id="delete-button" data-action="delete">Удалить</a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item context-action" id="hide-button" data-action="hide">Скрыть</a>
        <a class="dropdown-item context-action" id="hide-all-button" data-action="hide-all">Скрыть все</a>
        <a class="dropdown-item context-action" id="show-all-button" data-action="show-all">Показать все</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item context-action" id="print-button" data-action="print">Печать</a>
    </div>
    <div class="stats-container">
        <h2 class="debtors-office-list__header debtors-office__header">Баланс</h2>
        <div id="balance-container">
            {% include "ledger/enterprise_balance_node.html" with nodes=data %}
        </div>

        <h2 class="debtors-office-list__header debtors-office__header debtors-office__header--top">Рентабельность капитала</h2>
        <div class="charts-container">
            <div class="chart-stats">
                <canvas id="statsChart"></canvas>
            </div>
            <div class="chart-profit">
                <canvas id="profitChart"></canvas>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'js/autonumeric.js' %}" defer></script>
    <script src="{% static 'js/chart.js' %}" type="module" defer></script>
    <script src="{% static 'js/chartjs-plugin-datalabels.js' %}" defer></script>
    <script src="{% static 'commerce/js/commerce.js' %}" type="module"></script>
    {% endblock extra_scripts %}