{% extends "layout.html" %}
{% load static %}
{% block extra_styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ledger/css/transactions.css' %}">
    <link href="https://cdn.jsdelivr.net/gh/djibe/material@4.6.2-1.0/css/material-plugins.min.css"
          rel="stylesheet"
          crossorigin>
    <link rel="stylesheet" href="{% static 'css/flatpickr.css' %}">
{% endblock extra_styles %}
{% block content %}
    <div class="page-table-container" id="transaction-container">
        <div class="date-filter">
            <div class="date-filter__inputs">
                <div class="date-filter__input-container">
                    <div class="date-filter__label">Начало</div>
                    <div class="date-filter__wrapper">
                        <input type="text"
                               id="start-date"
                               name="start-date"
                               class="date-filter__input">
                        <img src="{% static 'images/calendar.svg' %}"
                             class="date-filter__icon"
                             data-target="start-date"
                             >
                    </div>
                </div>
                <div class="date-filter__input-container">
                    <div class="date-filter__label">Окончание</div>
                    <div class="date-filter__wrapper">
                        <input type="text" id="end-date" name="end-date" class="date-filter__input">
                        <img src="{% static 'images/calendar.svg' %}"
                             class="date-filter__icon"
                             data-target="end-date"
                             >
                    </div>
                </div>
            </div>
            <div class="date-filter__buttons">
                <button id="load-data" class="button">Загрузить</button>
            </div>
        </div>
        {% include "components/table.html" with id="transactions-table" fields=fields data=data %}
        <div class="pagination-controls">
            <button class="pagination-button"
                    id="first-page"
                    title="Первая страница"
                    disabled>
                <img src="{% static 'images/angle-double-left.svg' %}" alt="First" class="icon">
            </button>
            <button class="pagination-button"
                    id="prev-page"
                    title="Предыдущая страница"
                    disabled>
                <img src="{% static 'images/angle-left.svg' %}" alt="Previous" class="icon">
            </button>
            <div class="pagination-line"></div>
            <div class="pagination-input-container">
                <span>Страница</span>
                <input type="text"
                       id="current-page"
                       class="pagination-input"
                       value="0"
                       disabled>
                <span>из</span>
                <span id="total-pages">0</span>
            </div>
            <div class="pagination-line"></div>
            <button class="pagination-button"
                    id="next-page"
                    title="Следующая страница"
                    disabled>
                <img src="{% static 'images/angle-right.svg' %}" alt="Next" class="icon">
            </button>
            <button class="pagination-button"
                    id="last-page"
                    title="Последняя страница"
                    disabled>
                <img src="{% static 'images/angle-double-right.svg' %}" alt="Last" class="icon">
            </button>
            <div class="pagination-line"></div>
            <button class="pagination-button" id="refresh" title="Обновить">
                <img src="{% static 'images/arrows-rotate.svg' %}" alt="Refresh" class="icon">
            </button>
        </div>
        <div id="context-menu"
            class="dropdown-menu"
            data-is-admin="{% if request.user.user_type and request.user.user_type.name == 'Администратор' %}true{% else %}false{% endif %}">
            {% if request.user.user_type.name == 'Администратор' %}
                <a class="dropdown-item context-action"
                id="edit-button"
                data-action="edit">Редактировать</a>
            {% endif %}
            <div class="dropdown-divider">
            </div>
            <a class="dropdown-item context-action"
               id="hide-button"
               data-action="hide">Скрыть</a>
            <a class="dropdown-item context-action"
               id="show-all-button"
               data-action="show-all">Показать все</a>
        </div>
    </div>
{% endblock content %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'ledger/js/ledger.js' %}" type="module"></script>
    <script src="{% static 'js/flatpickr.js' %}" defer></script>
    <script src="{% static 'js/flatpickr-ru.js' %}" defer></script>
    <script src="{% static 'js/autonumeric.js' %}" defer></script>
    {{ transaction_ids|json_script:"transaction-ids-data" }}
{% endblock extra_scripts %}
