<div id="menu-container" class="menu-container">
    <nav class="menu" id="menu">
        <h2 class="menu__title">Меню</h2>
        {% for category, data in menu.items %}
            <div class="menu__section">
                <div class="menu__category {% if data.is_active %}menu__category--active{% endif %}">
                    <div class="menu__header" tabindex="0">
                        <i class="menu__icon fas fa-folder"></i>
                        <span>{{ category }}</span>
                        <span class="menu__arrow"></span>
                    </div>
                    <div class="menu__content">
                        <ul class="menu__list">
                            {% for item in data.items %}
                                <li class="menu__subitem {% if request.path == item.full_url %}menu__subitem--active{% endif %}"
                                    tabindex="0"
                                    data-href="{{ item.full_url }}">
                                    <a href="{{ item.full_url }}" class="menu__link" tabindex="-1">
                                        <i class="menu__icon {{ item.icon_class }}"></i>
                                        {{ item.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </nav>
    <div class="burger-menu">
        <span class="burger-menu__line"></span>
    </div>
    <div class="overlay"></div>
</div>
