<li class="debtors-office-list__item">
    <div class="debtors-office-list__row"
         data-target="object-{{ client_id }}-{{ obj.id }}"
         data-client-id="{{ client_id }}"
         data-object-id="{{ obj.id }}"
         style="border-left-width: 16px;">
        <button class="debtors-office-list__toggle" type="button" aria-label="Подробнее">+</button>
        <h4>{{ obj.name }}</h4>
    </div>
    <div class="debtors-office-list__details"
         id="object-{{ client_id }}-{{ obj.id }}"></div>
</li>
