<!DOCTYPE html>
{% load static %}
{% load menu_tags %}
{% load components %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
            {% endblock title %}
            - http://192.168.1.5:8000/
        </title>
        <meta name="description" content="Фабрика рекламы ЯРЧЕ">
        <meta name="keywords" content="ЯРЧЕ, Фабрика рекламы">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="{% static 'awesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
        {% comment %} для того чтобы страница не кешировалась {% endcomment %}
        <meta http-equiv="cache-control"
              content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        {% comment %} для того чтобы страница не кешировалась {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/modal.css' %}">
        <link rel="stylesheet" href="{% static 'css/loader.css' %}">
        <script src="{% static 'menu/js/menu.js' %}" defer></script>
        {% block extra_styles %}
            {% render_styles %}
        {% endblock extra_styles %}
        {% block extra_scripts %}
            {% render_scripts %}
        {% endblock extra_scripts %}
        <script src="{% static 'js/main.js' %}" type="module"></script>
    </head>
    <body>
        <div class="container">
            {% render_menu %}
            <main class="content">
                {% block content %}
                {% endblock content %}
            </main>
        </div>
    </body>
</html>
