<!DOCTYPE html>
{% load static %}
{% load components %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                Ярче - завод рекламы
            {% endblock title %}
        </title>
        <meta name="description"
        content="Ярче — завод по производству рекламы, баннеров и вывесок в городе Киров. Полный цикл изготовления наружной рекламы для вашего бизнеса." />
        <meta name="keywords"
              content="Реклама, Наружная реклама, Баннеры, Вывески, Печать, Рекламное агентство, Рекламные услуги, Рекламные материалы, Рекламные конструкции, Рекламные кампании" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/modal.css' %}">
        <link rel="stylesheet" href="{% static 'css/modal-form.css' %}">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" href="{% static 'css/loader.css' %}">
        <link rel="icon"
              href="{% static 'images/favicon.ico' %}"
              type="image/x-icon">
        {% block extra_styles %}
            {% render_styles %}
        {% endblock extra_styles %}
        {% block extra_scripts %}
            {% render_scripts %}
        {% endblock extra_scripts %}
    </head>
    <body>
        <div class="container">
            <main class="content">
                {% block content %}
                {% endblock content %}
            </main>
            {% if not request.user.user_type.name == "Поставщик" and request.user.user_type.name != "Ассистент" and request.user.user_type.name != "Филиал" %}
                <nav class="sidebar-nav">
                    <ul class="nav-list">
                        {% regroup request.user.user_type.type_menu_items.all by menu_item.category as categories %}
                        {% for category in categories %}
                            {% if category.grouper %}
                                <li class="nav-item{% if request.path|slice:':6' == '/menu/' and category.grouper.name in request.path %} active{% endif %}">
                                    <a href="{% url 'menu:category' category.grouper.name %}">
                                        {{ category.grouper.display_name }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </body>
</html>
