{% load static %}
{% load components %}
{% add_style 'css/modal-form.css' %}
<form class="modal-form" id="add-work-form" method="post">
    <div class="modal-form__content">
        {% csrf_token %}
        <input type="hidden" name="order" id="order">
        <div class="modal-form__group">
			<label class="modal-form__label" for="department">Отдел</label>
            {% include "components/select.html" with id="department" placeholder="Выберите отдел" %}
        </div>
		
        
        <div class="modal-form__buttons">
            <button class="button modal-form__button" type="submit">Сохранить</button>
            <button class="button modal-form__button button--cancel" type="button">Отменить</button>
        </div>
    </div>
</form>
