{% load static %}
{% load components %}
{% add_style 'css/modal-form.css' %}
<form class="modal-form" id="assign-executor-form" method="post">
    <div class="modal-form__content">
        {% csrf_token %}
        <div class="modal-form__group">
                <label class="modal-form__label" for="executor">Исполнитель</label>
                {% include "components/select.html" with id="executor" placeholder="Выберите исполнителя" %}
            </div>
        <div class="modal-form__buttons">
            <button class="button modal-form__button" type="submit">Сохранить</button>
            <button class="button modal-form__button button--cancel" type="button">Отменить</button>
        </div>
    </div>
</form>
