<div class="action-buttons">
    <button id="add-button" class="action-button">
        <span>Добавить</span>
        <i class="far fa-plus-circle action-button__icon"></i>
    </button>
    <button id="edit-button" class="action-button">
        <span>Редактировать</span>
        <i class="far fa-edit action-button__icon"></i>
    </button>
    <button id="delete-button" class="action-button">
        <span>Удалить</span>
        <i class="far fa-trash-alt action-button__icon"></i>
    </button>
    <button id="refresh-button" class="action-button">
        <span>Обновить</span>
        <i class="far fa-sync-alt action-button__icon"></i>
    </button>
</div>
