{% load components %}
{% add_style 'css/checkbox.css' %}
<div class="checkbox">
    <input type="checkbox"
           id="{{ id }}"
           class="checkbox__input"
           name="{{ name|default:id }}"
           {% if value %}checked{% endif %}
           {% if disabled %}disabled{% endif %}>
    <label for="{{ id }}" class="checkbox__label">
        <span class="checkbox__box" {% if not disabled %}tabindex="0"{% endif %}></span>
        {% if label %}<span class="checkbox__text">{{ label }}</span>{% endif %}
    </label>
</div>
