{% load static %}
<div class="select" data-multiple="{{ multiple|default:'false' }}">
    <input type="text"
           hidden
           class="select__input"
           id="{{ id|default:'select_default' }}"
           name="{{ id|default:'select_default' }}"
           placeholder="{{ placeholder }}">
    <div class="select__control" tabindex="0">
        <span class="select__text{% if placeholder %} select__placeholder {% endif %}">
            {% if placeholder %}{{ placeholder }}{% endif %}
        </span>
        <img src="{% static 'images/chevron-down.svg' %}"
             alt="Close"
             class="select__arrow"
             height="28"
             width="28">
        <img src="{% static 'images/close.svg' %}"
             alt="Close"
             class="select__clear"
             height="28"
             width="28">
    </div>
    <div class="select__dropdown"></div>
</div>
