{% load static %}
{% load components %}
{% add_style 'css/modal-form.css' %}
<form class="modal-form" id="transactions-form" method="post">
    <div class="modal-form__content">
        {% csrf_token %}
        <div class="modal-form__group">
            {% include "components/select.html" with id="order" placeholder="Выберите заказ" %}
        </div>
        <div class="modal-form__group">
            {% include "components/select.html" with id="bank_account" placeholder="Счет зачисления средств" %}
        </div>
        <div class="modal-form__row">
            <div class="modal-form__group modal-form__group--width-40">
                <label class="modal-form__label" for="debt_amount">Долг</label>
                <input class="modal-form__input"
                       type="text"
                       id="debt_amount"
                       readonly
                       spellcheck="false"
                       name="debt_amount">
            </div>
            <div class="modal-form__group modal-form__group--width-40">
                <label class="modal-form__label" for="amount">Сумма оплаты</label>
                <input class="modal-form__input"
                       type="text"
                       id="amount"
                       name="amount"
                       spellcheck="false"
                       placeholder="Введите сумму">
            </div>
        </div>
        <div class="modal-form__group">
            <div class="input-container">
                <textarea class="modal-form__textarea"
                          type="text"
                          id="comment"
                          name="comment"
                          placeholder="Комментарий"></textarea>
                <img src="{% static 'images/close.svg' %}" alt="Clear" class="clear-button">
            </div>
        </div>
        <div class="modal-form__group modal-form__group--width-30">
            <label class="modal-form__label" for="report_date">Месяц реализации</label>
            <input class="modal-form__input"
                   type="month"
                   id="report_date"
                   name="report_date"
                   placeholder="Месяц реализации">
        </div>
        <div class="modal-form__buttons">
            <button class="button modal-form__button" type="submit">Сохранить</button>
            <button class="button modal-form__button button--cancel" type="button">Отменить</button>
        </div>
    </div>
</form>
