{% load static %}
{% load components %}
{% add_style 'css/modal-form.css' %}
<form class="modal-form" id="transactions-form" method="post">
    <div class="modal-form__content">
        {% csrf_token %}
        <div class="modal-form__group">
            {% include "components/select.html" with id="client" placeholder="Выберите клиента" %}
        </div>
        <div class="modal-form__group">
            {% include "components/select.html" with id="bank_account" placeholder="Выберите счет" %}
        </div>
        <div class="modal-form__group modal-form__group--width-40">
            <input class="modal-form__input"
                   type="text"
                   id="amount"
                   name="amount"
                   spellcheck="false"
                   placeholder="Введите сумму">
        </div>
        <div class="modal-form__group">
            <div class="input-container">
                <textarea class="modal-form__textarea"
                          type="text"
                          id="comment"
                          name="comment"
                          placeholder="Комментарий"></textarea>
                <img src="{% static 'images/close.svg' %}" alt="Clear" class="clear-button">
            </div>
        </div>
        <div class="modal-form__buttons">
            <button class="button modal-form__button" type="submit">Сохранить</button>
            <button class="button modal-form__button button--cancel" type="button">Отменить</button>
        </div>
    </div>
</form>
